html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


a {
  text-decoration: none;
}

blockquote {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: #6C7279;
  background-color: #fff;
}

.social__icon {
  display: inline-block;
  margin-left: 3px;
}

.btn {
  display: inline-flex;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
  color: #fff;
  background-color: #ff4343;
  padding: 25px 102px;
  transition: all .2s linear;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #eb1515;
}

.btn:active {
  background-color: #ff4343;
  box-shadow: 4px 4px 30px #FF4343;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header ============== */
.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #BABBC5;
  padding: 35px 0;
}

.nav__link {
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 55px;
  position: relative;
}

.nav__link:first-child {
  margin: 0;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #babbc5;
  width: 0;
  height: 3px;
  transition: all .2s linear;
}

.nav__link:hover::after {
  width: 100%;
}

.nav__link:active {
  color: #E71414;
}

.nav__link:active::after {
  background-color: #E71414;
}

.nav__link-logo {
  display: none;
}

/* Promo ================ */

.promo {
  padding-top: 100px;
  background-image: url('../images/promo-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.promo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #252B49;
  opacity: .8;
}

.promo__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(750px - 101px);
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
}

.promo__title {
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.promo__lead {
  font-size: 24px;
  margin-bottom: 80px;
}


/* Features =================== */

.features__row {
  display: flex;
  flex-wrap: wrap;
  gap: 90px 30px;
  align-items: center;
  text-align: center;
  padding: 115px 0;
}

.features__col {
  width: calc(33.3333% - 30px);
}

.features__col-image {
  margin-bottom: 29px;
}

.features__col-title {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: #2D3033;
  margin-bottom: 20px;
}

/* Works ============== */

.works__inner {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 115px;
}

.works__item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 25%;
  height: 340px;
  overflow: hidden;
  cursor: pointer;
}


.works__item:hover .works__content {
  opacity: 1;
}

.works__item:active .works__content {
  background: rgba(185, 12, 12, 0.8);
}

.works__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}


.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(255, 67, 67, 0.8);
  opacity: 0;
  transition: opacity .2s ease-in-out;
  border: 2px solid #fff;
}

.works__title {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.works__lead {
  font-size: 18px;
}

/* Team =============== */

.team {
  margin-bottom: 115px;
}

.team__inner {
  display: flex;
  gap: 30px;
}

.team__card {
  width: 25%;
}

.team__card-avatar {
  width: 270px;
  height: 270px;
  overflow: hidden;
  margin-bottom: 30px;
}

.card__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__name {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  color: #2d3033;
  margin-bottom: 5px;
}

.card__profesion {
  text-transform: uppercase;
  color: #ff4343;
  margin-bottom: 18px;
}

.card__content {
  margin-bottom: 38px;
}

/* testimonials ================ */

.testimonials__inner {
  margin-bottom: 115px;
}

.testimonials__wrapper {
  position: relative;
}

.testimonials__row {
  display: flex;
  justify-content: center;
}

.testimonials__col {
  margin-bottom: 61px;
}

.testimonials__col_right {
  background-color: #5C3249;
  padding: 133px 170px 116px 129px;
}

.blockquote {
  font-family: 'Cardo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  color: #fff;
  text-transform: capitalize;
  max-width: 471px;
  margin-bottom: 17px;
}

.cite {
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}

.swiper-pagination-bullet {
  border: 1px solid #7E5D6F;
  background: transparent;
  width: 14px;
  height: 14px;
  margin: 0 12px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 12px);
}

.swiper-pagination-bullet-active {
  background-color: #7E5D6F;
}


/* Download */

.download__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 115px;
  color: #000;
}

.download__title {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 30px;
}

.download__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 47px;
}


/* Footer ============= */

.footer {
  background-color: #353C65;
}

.footer__row {
  padding: 71px 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
  color: #fff;
}

.footer__col {
  flex: 1 0 33.3333%;
}

.footer__col-title {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.footer__col-info {
  text-transform: capitalize;
}

.info__link {
  color: inherit;
}

.social__icon_mt {
  margin-top: 20px;
}

.copyright {
  background-color: #2C3154;
}

.copyright__content {
  padding: 24px 0;
  text-transform: capitalize;
  max-width: 370px;
  margin: 0 auto;
  color: #808080;
}

.copyright__link {
  color: #fff;
}

.copyright__link:hover {
  text-decoration: underline;
}




/* ?Media ==========================================================================================*/
/* !===================================1024============================================ */
@media (max-width: 1024px) {}

/* !===================================992============================================ */
@media (max-width: 992px) {

  /* burger-menu ====================== */
  .logo {
    position: relative;
    z-index: 6;
  }

  .nav {
    display: none;
  }

  .header__inner {
    align-items: center;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
  }

  #menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    width: 24px;
    transform: rotate(90deg);
  }

  #menu__toggle:checked~.nav {
    left: 0;
  }

  .menu__btn {
    position: absolute;
    top: 41px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 6;
  }

  .menu__btn>span {
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #fff;
    transition: all .3s linear;
  }

  .menu__btn>span::before {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #fff;
    transition: all .3s linear;
  }

  .menu__btn>span::after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #fff;
    transition: all .3s linear;
  }

  .menu__btn>span::before {
    content: '';
    top: 8px;
  }

  .menu__btn>span::after {
    content: '';
    top: 16px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    left: -100%;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 35px 20px;
    background-image: url('../images/burger-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s linear;
    z-index: 5;
  }

  .nav__link-logo {
    display: block;
    margin-bottom: 60px;
  }

  .nav__link {
    margin: 0;
    margin-top: 55px;
  }

  .nav__link::after {
    bottom: -10px;
  }

  /* Features ====================== */
  .features__col-title {
    font-size: 18px;
  }

  .features__col-text {
    font-size: 14px;
  }

  .features__col {
    width: calc(50% - 20px);
  }

  .features__row {
    gap: 49px 20px;
  }

  /* Works ====================== */
}

/* !===================================762============================================ */
@media (max-width: 762px) {
  .promo__inner {
    display: block;
    margin-top: 50px;
  }

  .promo__title {
    font-size: 54px;
  }
}

/* !===================================576============================================ */
@media (max-width: 576px) {
  .btn {
    padding: 17px 46px;
  }

  .header__inner {
    border-bottom: none;
  }

  .promo__title {
    font-size: 36px;
  }

  .promo__lead {
    font-size: 14px;
    margin-bottom: 50px;
  }

  .features__row {
    gap: 40px 20px;
  }

  .features__col {
    width: 100%;
  }

}